/* Global Styles */
:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #f48c00;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --semi-transparent-black: rgba(0, 0, 0, 0.85);
  --most-transparent-black: rgba(0, 0, 0, 0.9);
  --semi-transparent-white: rgba(255, 255, 255, 0.5);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Monaco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: var(--font-family-sans-serif);
  margin: 0;
  padding: 0;
  background: linear-gradient(to-bottom, var(--most-transparent-black), var(--semi-transparent-black), var(--most-transparent-black));
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

/* Specific Styles */
/*
header {
  background-color: radial-gradient(circle, var(--teal), var(--cyan));
  position: sticky;
  top: 0;
  color: #fff;
}
*/

.bout-mecontainer {
  overflow: auto;
}

section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--gray);
  float: left;
  width: 300px;
  margin-right: 20px;
  background-color: radial-gradient(circle, var(--teal), var(--cyan));
}

section:last-child {
  margin-right: 0;
}

footer {
  background-color: var(--gray-dark);
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.about-me-container {
  color: #fff;
  box-shadow: 0 4px 6px var(--gray);
  margin-top: 10px;
}

.about-me-text-container {
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.logo-glow-container {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.logo-glow-container::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 100 100 0 500px 500px rgba(250, 255, 255); /* Adjust the color and size of the glow */
  border-radius: 90%; /* Adjust the shape of the glow, if necessary */
}

.sticky-nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}