/* Global Styles */
:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #f48c00;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --semi-transparent-black: rgba(0, 0, 0, 0.85);
  --most-transparent-black: rgba(0, 0, 0, 0.9);
  --semi-transparent-white: rgba(255, 255, 255, 0.5);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Monaco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: var(--font-family-sans-serif);
  margin: 0;
  padding: 0;
  background: linear-gradient(to-bottom, var(--most-transparent-black), var(--semi-transparent-black), var(--most-transparent-black));
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

/* Specific Styles */
header {
  background-color: radial-gradient(circle, var(--teal), var(--cyan));
  color: #fff;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

nav ul li a {
  color: #20c9a6;
}

.container {
  overflow: auto;
}

section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--gray);
  float: left;
  width: 300px;
  margin-right: 20px;
  background-color: radial-gradient(circle, var(--teal), var(--cyan));
}

section:last-child {
  margin-right: 0;
}

footer {
  background-color: var(--gray-dark);
  color: #fff;
  font-size: 12px;
  text-align: center;
}
