/* Global Styles */
:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #f48c00;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --semi-transparent-black: rgba(0, 0, 0, 0.85);
  --most-transparent-black: rgba(0, 0, 0, 0.9);
  --semi-transparent-white: rgba(255, 255, 255, 0.5);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Monaco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: var(--font-family-sans-serif);
  margin: 0;
  padding: 0;
  background: linear-gradient(to-bottom, var(--most-transparent-black), var(--semi-transparent-black), var(--most-transparent-black));
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--gray);
  float: left;
  width: 300px;
  margin-right: 20px;
  background-color: radial-gradient(circle, var(--teal), var(--cyan));
}

section:last-child {
  margin-right: 0;
}

footer {
  background-color: var(--gray-dark);
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.about-me-section-container {
  position: relative;
  height: 600vh;
  background-image: url("../images/m2_bg_medium_2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

p.text-center.starter-text-style {
  color: #fff;
  position: absolute;
  top: 45%;
  opacity: 0;
}

p.text-center.about-me-text-style {
  color: #fff;
  position: fixed;
  display: inline-block; 
  top: 45%;
}

.logo-container-left {
  position: relative;
  display: inline-block;
  /* top: 50%;
  left: 35%; */
}

.logo-container-left::after {
  position: relative;
  box-shadow: 0 0 800px 800px rgba(0, 0, 0, 0.5); /* Adjust the color and size of the glow */
  border-radius: 90%; /* Adjust the shape of the glow, if necessary */
}

.logo-container-left img {
  position: fixed;
  transform: scale(0.4);
  object-fit: cover;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.sticky-nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0.15; }
      100% { opacity: 1; }
    }

.blinking-text {
  animation: blink 3.9s infinite;
}

.typewriter {
  overflow: hidden; /* Hide overflowing characters */
  animation: typewriter 3s steps(12) infinite;
}
