{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">

<!DOCTYPE html>
<html>
<head>
  <title>My Personal Homepage</title>
</head>
<body>
  <header>
    <h1>Welcome to My Personal Homepage</h1>
  </header>
  
  <nav>
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  
  <div class="container">
    <section id="about">
      <h2>About Meeee</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor, justo vitae tempus venenatis, dui dui sagittis est, et hendrerit metus neque ac est.</p>
    </section>

    <section id="portfolio">
      <h2>Portfolio</h2>
      <p>Here are some of my projects:</p>
      <ul>
        <li>Project 1</li>
        <li>Project 2</li>
        <li>Project 3</li>
      </ul>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <p>You can reach me at email@example.com</p>
    </section>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary">Chart</h3>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" style="position: relative; height: 50vh;">
                    <canvas id="testhistorychart"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <footer>
    <p>&copy; 2023 My Personal Homepage. All rights reserved.</p>
  </footer>
</body>
</html>
