{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>My Personal Homepage</title>

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/R_CPU_48_ICO.ico' %}">
</head>


<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>About</h4>
          <p class="text-body-secondary">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <!--
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        -->
        <img src="{% static 'images/R_CPU.png' %}" alt="RLogo" width="50" height="50">
        <strong>Album</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>


<body>
  <header>
    <h1>Welcome to My Personal Homepage</h1>
  </header>
  
  <nav>
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  
  <div class="container">
    <section id="about">
      <h2>About Meeee</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor, justo vitae tempus venenatis, dui dui sagittis est, et hendrerit metus neque ac est.</p>
    </section>

    <section id="portfolio">
      <h2>Portfolio</h2>
      <p>Here are some of my projects:</p>
      <ul>
        <li>Project 1</li>
        <li>Project 2</li>
        <li>Project 3</li>
      </ul>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <p>You can reach me at email@example.com</p>
    </section>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary">Chart</h3>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" style="position: relative; height: 50vh;">
                    <canvas id="testhistorychart"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>


<footer>
  <p>&copy; 2023 runnanli.com. All rights reserved.</p>
</footer>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
